<div class="container">
	<div class="content">
		
		<div class="offer">
		<h3 style="color: #FFFFFF;">Place Your Logo:</h3>
		#PROX#ImageUploader_logo#PROX#
		<h1>
		
		<h3 style="color: #FFFFFF;">Place your Custom Message:</h3>
		<h1>
		<div id="facebook">
			#PROX#TextEditor_editor#PROX#
		</div>
		</h1>
		<br />
			<h3 style="color: #FFFFFF;">Click to Add your Facebook Page:</h3>
		#PROX#FacebookButton_accessInternet#PROX#
		</div>
	</div>
</div>
<div class="footer">
	Powered By <a href="http://www.proximusmobility.com">Proximus Mobility</a>
</div>


