<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<title>Offer 2</title>
	<link type="text/css" rel="stylesheet" href="prox.css" />
</head>
<body>
	<div id="container">
		<div id="header">	
			#PROX#ImageUploader_logo#PROX#
		</div>
		<div id="navigation">
			<a class="button navButton alignRight" href="index.html" title="View Offers">BACK</a>
		</div>
		
		<div id="content">
			<div id="offer-details">
				<div class="imagePosition">
				#PROX#ImageUploader_offer2BigImg#PROX#
				</div>
				
				<br /><br />
				<p>
					#PROX#TextEditor_offer2text#PROX#
				</p>
				<br />
			</div>
			
		</div>
		<div id="container-footer">
			<p class="legal">
				#PROX#TextEditor_COPYRIGHT#PROX#
			</p>

		
		</div> 
	</div>
</body>
</html>