<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ProximusTomorrow-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>proximus-mysql</jta-data-source>
    <class>com.proximus.data.Barcode</class>
    <class>com.proximus.data.BluetoothCampaign</class>
    <class>com.proximus.data.BluetoothConfig</class>
    <class>com.proximus.data.BluetoothDwell</class>
    <class>com.proximus.data.BluetoothFile</class>
    <class>com.proximus.data.BluetoothSend</class>
    <class>com.proximus.data.Brand</class>
    <class>com.proximus.data.Campaign</class>
    <class>com.proximus.data.CampaignFile</class>
    <class>com.proximus.data.CampaignType</class>
    <class>com.proximus.data.Company</class>
    <class>com.proximus.data.CompanyLogo</class>
    <class>com.proximus.data.ConfigProperty</class>
    <class>com.proximus.data.ConfigPropertyHistory</class>
    <class>com.proximus.data.Contact</class>
    <class>com.proximus.data.DayParts</class>
    <class>com.proximus.data.Device</class>
    <class>com.proximus.data.DeviceInLimbo</class>
    <class>com.proximus.data.FacebookUserLog</class>
    <class>com.proximus.data.GatewayPartnerFields</class>
    <class>com.proximus.data.GatewayUser</class>
    <class>com.proximus.data.HotspotDomain</class>
    <class>com.proximus.data.License</class>
    <class>com.proximus.data.MacAddress</class>
    <class>com.proximus.data.PricingModel</class>
    <class>com.proximus.data.Privilege</class>
    <class>com.proximus.data.PubNubKey</class>
    <class>com.proximus.data.Role</class>
    <class>com.proximus.data.ShellCommandAction</class>
    <class>com.proximus.data.SoftwareRelease</class>
    <class>com.proximus.data.Tag</class>
    <class>com.proximus.data.User</class>
    <class>com.proximus.data.WifiCampaign</class>
    <class>com.proximus.data.WifiLog</class>
    <class>com.proximus.data.WifiRegistration</class>
    <class>com.proximus.data.ZipcodeToTimezone</class>
    <class>com.proximus.data.events.CampaignEvent</class>
    <class>com.proximus.data.events.Event</class>
    <class>com.proximus.data.events.EventSubscription</class>
    <class>com.proximus.data.events.EventType</class>
    <class>com.proximus.data.events.MobileOfferEvent</class>
    <class>com.proximus.data.report.BluetoothDaySummary</class>
    <class>com.proximus.data.report.BluetoothFileSendSummary</class>
    <class>com.proximus.data.report.UserProfileSummary</class>
    <class>com.proximus.data.report.ViewWifiPageViews</class>
    <class>com.proximus.data.report.ViewWifiVisits</class>
    <class>com.proximus.data.report.WifiDaySummary</class>
    <class>com.proximus.data.sms.BannedWord</class>
    <class>com.proximus.data.sms.Carrier</class>
    <class>com.proximus.data.sms.Category</class>
    <class>com.proximus.data.sms.Country</class>
    <class>com.proximus.data.sms.DMA</class>
    <class>com.proximus.data.sms.GeoFence</class>
    <class>com.proximus.data.sms.GeoLocationSettings</class>
    <class>com.proximus.data.sms.GeoPoint</class>
    <class>com.proximus.data.sms.Keyword</class>
    <class>com.proximus.data.sms.Locale</class>
    <class>com.proximus.data.sms.LocationData</class>
    <class>com.proximus.data.sms.MasterCampaign</class>
    <class>com.proximus.data.sms.MobileOffer</class>
    <class>com.proximus.data.sms.MobileOfferClickthrough</class>
    <class>com.proximus.data.sms.MobileOfferMonthlyBalance</class>
    <class>com.proximus.data.sms.MobileOfferSendLog</class>
    <class>com.proximus.data.sms.MobileOfferSettings</class>
    <class>com.proximus.data.sms.MobileSystemMessage</class>
    <class>com.proximus.data.sms.Property</class>
    <class>com.proximus.data.sms.Retailer</class>
    <class>com.proximus.data.sms.SMSCampaign</class>
    <class>com.proximus.data.sms.ShortCode</class>
    <class>com.proximus.data.sms.SourceType</class>
    <class>com.proximus.data.sms.Subscriber</class>
    <class>com.proximus.data.sms.SubscriberCampaign</class>
    <class>com.proximus.data.sms.report.KeywordRegistrationSummary</class>
    <class>com.proximus.data.sms.report.MobileOfferSendLogSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSourceSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSummary</class>
    <class>com.proximus.data.sms.report.SubscriberStatistics</class>
    <class>com.proximus.data.sms.report.ViewActiveOffers</class>
    <class>com.proximus.data.sms.report.ViewActiveUsers</class>
    <class>com.proximus.data.sms.report.ViewActiveUsersByKeyword</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptIns</class>
    <class>com.proximus.data.sms.report.ViewPropertySummaryStats</class>
    <class>com.proximus.data.sms.report.ViewTotalMessagesSent</class>
    <class>com.proximus.data.web.WebOffer</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptInsPending</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptOuts</class>
    <class>com.proximus.data.sms.report.ViewMessagesSentByMonth</class>
    <class>com.proximus.data.sms.report.ViewOptInsByMonth</class>
    <class>com.proximus.data.app.AppUser</class>
    <class>com.proximus.data.app.AppUserLocation</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="eclipselink.logging.level" value="OFF"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/proximusdenvercoder"/>
      <property name="javax.persistence.jdbc.user" value="proximus"/>
      <property name="javax.persistence.jdbc.password" value="proximus!"/>
    </properties>
  </persistence-unit>
  <!--
  <persistence-unit name="ProximusTomorrow-ejbPULocalEric" transaction-type="RESOURCE_LOCAL">
    <class>com.proximus.data.Barcode</class>
    <class>com.proximus.data.BluetoothCampaign</class>
    <class>com.proximus.data.BluetoothConfig</class>
    <class>com.proximus.data.BluetoothDwell</class>
    <class>com.proximus.data.BluetoothFile</class>
    <class>com.proximus.data.BluetoothSend</class>
    <class>com.proximus.data.Brand</class>
    <class>com.proximus.data.Campaign</class>
    <class>com.proximus.data.CampaignFile</class>
    <class>com.proximus.data.CampaignType</class>
    <class>com.proximus.data.Company</class>
    <class>com.proximus.data.CompanyLogo</class>
    <class>com.proximus.data.ConfigProperty</class>
    <class>com.proximus.data.ConfigPropertyHistory</class>
    <class>com.proximus.data.Contact</class>
    <class>com.proximus.data.DayParts</class>
    <class>com.proximus.data.Device</class>
    <class>com.proximus.data.DeviceInLimbo</class>
    <class>com.proximus.data.FacebookUserLog</class>
    <class>com.proximus.data.GatewayPartnerFields</class>
    <class>com.proximus.data.GatewayUser</class>
    <class>com.proximus.data.HotspotDomain</class>
    <class>com.proximus.data.License</class>
    <class>com.proximus.data.MacAddress</class>
    <class>com.proximus.data.PricingModel</class>
    <class>com.proximus.data.Privilege</class>
    <class>com.proximus.data.PubNubKey</class>
    <class>com.proximus.data.Role</class>
    <class>com.proximus.data.ShellCommandAction</class>
    <class>com.proximus.data.SoftwareRelease</class>
    <class>com.proximus.data.Tag</class>
    <class>com.proximus.data.User</class>
    <class>com.proximus.data.WifiCampaign</class>
    <class>com.proximus.data.WifiLog</class>
    <class>com.proximus.data.WifiRegistration</class>
    <class>com.proximus.data.ZipcodeToTimezone</class>
    <class>com.proximus.data.report.BluetoothDaySummary</class>
    <class>com.proximus.data.report.BluetoothFileSendSummary</class>
    <class>com.proximus.data.report.UserProfileSummary</class>
    <class>com.proximus.data.report.ViewWifiPageViews</class>
    <class>com.proximus.data.report.ViewWifiVisits</class>
    <class>com.proximus.data.report.WifiDaySummary</class>
    <class>com.proximus.data.sms.BannedWord</class>
    <class>com.proximus.data.sms.Carrier</class>
    <class>com.proximus.data.sms.Category</class>
    <class>com.proximus.data.sms.Country</class>
    <class>com.proximus.data.sms.DMA</class>
    <class>com.proximus.data.sms.GeoFence</class>
    <class>com.proximus.data.sms.GeoLocationSettings</class>
    <class>com.proximus.data.sms.GeoPoint</class>
    <class>com.proximus.data.sms.Keyword</class>
    <class>com.proximus.data.sms.Locale</class>
    <class>com.proximus.data.sms.LocationData</class>
    <class>com.proximus.data.sms.MasterCampaign</class>
    <class>com.proximus.data.sms.MobileOffer</class>
    <class>com.proximus.data.sms.MobileOfferClickthrough</class>
    <class>com.proximus.data.sms.MobileOfferMonthlyBalance</class>
    <class>com.proximus.data.sms.MobileOfferSendLog</class>
    <class>com.proximus.data.sms.MobileOfferSettings</class>
    <class>com.proximus.data.sms.MobileSystemMessage</class>
    <class>com.proximus.data.sms.Property</class>
    <class>com.proximus.data.sms.Retailer</class>
    <class>com.proximus.data.sms.SMSCampaign</class>
    <class>com.proximus.data.sms.ShortCode</class>
    <class>com.proximus.data.sms.SourceType</class>
    <class>com.proximus.data.sms.Subscriber</class>
    <class>com.proximus.data.sms.SubscriberCampaign</class>
    <class>com.proximus.data.sms.report.KeywordRegistrationSummary</class>
    <class>com.proximus.data.sms.report.MobileOfferSendLogSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSourceSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSummary</class>
    <class>com.proximus.data.sms.report.SubscriberStatistics</class>
    <class>com.proximus.data.sms.report.ViewActiveOffers</class>
    <class>com.proximus.data.sms.report.ViewPropertySummaryStats</class>
    <class>com.proximus.data.web.WebOffer</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.logging.level" value="OFF"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/Proximus"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.password" value="hemligt123"/>
    </properties>
  </persistence-unit>
  
  
  -->
  <!--
  <persistence-unit name="ProximusTomorrow-ejbPUlocalGilberto" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.proximus.data.Barcode</class>
    <class>com.proximus.data.BluetoothCampaign</class>
    <class>com.proximus.data.BluetoothConfig</class>
    <class>com.proximus.data.BluetoothDwell</class>
    <class>com.proximus.data.BluetoothFile</class>
    <class>com.proximus.data.BluetoothSend</class>
    <class>com.proximus.data.Brand</class>
    <class>com.proximus.data.Campaign</class>
    <class>com.proximus.data.CampaignFile</class>
    <class>com.proximus.data.CampaignType</class>
    <class>com.proximus.data.Company</class>
    <class>com.proximus.data.CompanyLogo</class>
    <class>com.proximus.data.ConfigProperty</class>
    <class>com.proximus.data.ConfigPropertyHistory</class>
    <class>com.proximus.data.Contact</class>
    <class>com.proximus.data.DayParts</class>
    <class>com.proximus.data.Device</class>
    <class>com.proximus.data.DeviceInLimbo</class>
    <class>com.proximus.data.FacebookUserLog</class>
    <class>com.proximus.data.GatewayPartnerFields</class>
    <class>com.proximus.data.GatewayUser</class>
    <class>com.proximus.data.HotspotDomain</class>
    <class>com.proximus.data.License</class>
    <class>com.proximus.data.MacAddress</class>
    <class>com.proximus.data.PricingModel</class>
    <class>com.proximus.data.Privilege</class>
    <class>com.proximus.data.PubNubKey</class>
    <class>com.proximus.data.Role</class>
    <class>com.proximus.data.ShellCommandAction</class>
    <class>com.proximus.data.SoftwareRelease</class>
    <class>com.proximus.data.Tag</class>
    <class>com.proximus.data.User</class>
    <class>com.proximus.data.WifiCampaign</class>
    <class>com.proximus.data.WifiLog</class>
    <class>com.proximus.data.WifiRegistration</class>
    <class>com.proximus.data.ZipcodeToTimezone</class>
    <class>com.proximus.data.report.BluetoothDaySummary</class>
    <class>com.proximus.data.report.BluetoothFileSendSummary</class>
    <class>com.proximus.data.report.UserProfileSummary</class>
    <class>com.proximus.data.report.ViewWifiPageViews</class>
    <class>com.proximus.data.report.ViewWifiVisits</class>
    <class>com.proximus.data.report.WifiDaySummary</class>
    <class>com.proximus.data.sms.BannedWord</class>
    <class>com.proximus.data.sms.Carrier</class>
    <class>com.proximus.data.sms.Category</class>
    <class>com.proximus.data.sms.Country</class>
    <class>com.proximus.data.sms.DMA</class>
    <class>com.proximus.data.sms.GeoFence</class>
    <class>com.proximus.data.sms.GeoLocationSettings</class>
    <class>com.proximus.data.sms.GeoPoint</class>
    <class>com.proximus.data.sms.Keyword</class>
    <class>com.proximus.data.sms.Locale</class>
    <class>com.proximus.data.sms.LocationData</class>
    <class>com.proximus.data.sms.MasterCampaign</class>
    <class>com.proximus.data.sms.MobileOffer</class>
    <class>com.proximus.data.sms.MobileOfferClickthrough</class>
    <class>com.proximus.data.sms.MobileOfferMonthlyBalance</class>
    <class>com.proximus.data.sms.MobileOfferSendLog</class>
    <class>com.proximus.data.sms.MobileOfferSettings</class>
    <class>com.proximus.data.sms.MobileSystemMessage</class>
    <class>com.proximus.data.sms.Property</class>
    <class>com.proximus.data.sms.Retailer</class>
    <class>com.proximus.data.sms.SMSCampaign</class>
    <class>com.proximus.data.sms.ShortCode</class>
    <class>com.proximus.data.sms.SourceType</class>
    <class>com.proximus.data.sms.Subscriber</class>
    <class>com.proximus.data.sms.SubscriberCampaign</class>
    <class>com.proximus.data.sms.report.KeywordRegistrationSummary</class>
    <class>com.proximus.data.sms.report.MobileOfferSendLogSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSourceSummary</class>
    <class>com.proximus.data.sms.report.RegistrationSummary</class>
    <class>com.proximus.data.sms.report.SubscriberStatistics</class>
    <class>com.proximus.data.sms.report.ViewActiveOffers</class>
    <class>com.proximus.data.sms.report.ViewPropertySummaryStats</class>
    <class>com.proximus.data.web.WebOffer</class>
    <class>com.proximus.data.report.ViewActiveUsers</class>
    <class>com.proximus.data.report.ViewTotalMessagesSent</class>
    <class>com.proximus.data.report.ViewActiveUsersByKeyword</class>
    <class>com.proximus.data.events.CampaignEvent</class>
    <class>com.proximus.data.events.Event</class>
    <class>com.proximus.data.events.EventSubscription</class>
    <class>com.proximus.data.events.EventType</class>
    <class>com.proximus.data.events.MobileOfferEvent</class>
    <class>com.proximus.data.sms.report.ViewActiveUsers</class>
    <class>com.proximus.data.sms.report.ViewActiveUsersByKeyword</class>
    <class>com.proximus.data.sms.report.ViewKeywordSummaryStats</class>
    <class>com.proximus.data.sms.report.ViewTotalMessagesSent</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptIns</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptInsPending</class>
    <class>com.proximus.data.sms.report.ViewKeywordTotalOptOuts</class>
    <class>com.proximus.data.sms.report.ViewMessagesSentByMonth</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.logging.level" value="OFF"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/Proximus"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.password" value="password"/>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
  -->
</persistence>
