/ProximusTomorrow/ProximusTomorrow-ejb/build/
/ProximusTomorrow/ProximusTomorrow-datamodel/build/
/ProximusTomorrow/build/
/ProximusTomorrow/ProximusTomorrow-datamodel/dist/
/ProximusTomorrow/ProximusTomorrow-ejb/dist/
/ProximusTomorrow/ProximusTomorrow-war/build/
/ProximusTomorrow/ProximusTomorrow-war/dist/
/ProximusTomorrow/ProximusTomorrow-client/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-datamodel/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-jars/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-util/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-pythonclient/.settings/
/ProximusTomorrow/ProximusTomorrow-util/dist/
/ProximusTomorrow/ProximusTomorrow-util/build/
/ProximusTomorrow/ProximusTomorrow-client/build/
/ProximusTomorrow/ProximusTomorrow-client/dist/
/ProximusTomorrow/ProximusTomorrow-jars/build/
/ProximusTomorrow/ProximusTomorrow-jars/dist/
/ProximusTomorrow/ProximusTomorrow-scripts/dist/
/ProximusTomorrow/ProximusTomorrow-scripts/build/
/ProximusTomorrow/dist/
/ProximusTomorrow/ProximusTomorrow-pythonScripts/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-scripts/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-locationclient/build/
/ProximusTomorrow/ProximusTomorrow-locationclient/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-locationclient/dist/
/ProximusTomorrow/ProximusTomorrow-war/test/com/proximus/testdata/
/ProximusTomorrow/ProximusTomorrow-war/test/com/proximus/rest/
/ProximusTomorrow/ProximusTomorrow-registrationclient/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-registrationclient/build/
/ProximusTomorrow/ProximusTomorrow-registrationclient/dist/
/ProximusTomorrow/ProximusTomorrow-monitoring/nbproject/private/
/ProximusTomorrow/ProximusTomorrow-monitoring/dist/
/ProximusTomorrow/ProximusTomorrow-monitoring/build/
/ProximusTomorrow/ProximusTomorrow-jars/libs/server-libs.jar
/ProximusTomorrow/ProximusTomorrow-jars/libs/client-libs.jar
/KazeSMSPlatform/nbproject/private/
/KazeSMSPlatform/build/
/KazeSMSPlatform/dist/
/ProximusTomorrow/ProximusTomorrow-util/build